/*
Estilo para o WP-PageNavi
http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #085b7e;
	padding: 5px 7px;
	margin: 2px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.wp-pagenavi a, .wp-pagenavi span {
	color: #085b7e;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #093f56;
	color: #093f56;
	background-color: #6aa4c9;
}

.wp-pagenavi span.current {
	font-weight: bold;
}
